    .STAR_3 {
    max-width: 33rem;
    background: #fff;
    margin: 0 1rem;
    padding: 1rem;
    width: 100%;
    border-radius: 0.5rem;
    text-align: center;
    }
    .star_3 {
    font-size: 4vh;
    cursor: pointer;
    }
    
    .one_3 {
    color: rgba(228, 201, 0, 0.956);
    }
    
    .two_3 {
    color: rgb(228, 201, 0, 0.956);
    }
    
    .three_3 {
    color: rgb(228, 201, 0, 0.956);
    }
    
    .four_3 {
    color: rgb(228, 201, 0, 0.956);
    }
    
    .five_3 {
    color: rgb(228, 201, 0, 0.956);
    }